{% extends "base/base.html" %}
{% load static %}

{% block title %}
    Habi
{% endblock %}

{% block content %}
  <!-- ＋ボタン -->
  <a href="{% url 'goals:create' %}" class="btn btn-primary rounded-circle shadow" 
     style="width: 60px; height: 60px; font-size: 32px; line-height: 40px;">
    ＋
  </a>
  <h1>目標一覧</h1>
{% for goal in goals %}
  <div class="goal-item">
    <h3>{{ goal.title }}</h3>
    <p>達成年齢：{{ goal.future_age }}歳（{{ goal.future_month }}まで）</p>
  </div>
{% endfor %}
{% endblock %}