{% extends "base/base-loggedin.html" %}
{% block title %}
    Habi | Home
{% endblock %}

{% block main_content %}
  <!-- ＋ボタン -->
  <a href="{% url 'goals:create' %}">
    ＋
  </a>
  <h1>目標一覧</h1>
  {% for future_age, data in goals_by_age.items %}
    <h3>{{ future_age }}歳のゴール（合計: {{ data.total }}件）</h3>
    <div class="goal-item">
      {% for goal in data.goals %}
        <p>{{ goal.future_month }}に達成予定</p>
        <a href="{% url 'goals:goal_detail' goal.id %}" style="color:orange;">
        <h3>{{ goal.title }}</h3>
        </a>
      {% endfor %}
    </div>
  {% endfor %}
{% endblock %}
