/* 色を変更しやすいように記載している */

:root {
    --white: #ffffff;
    --black: #000000;
    --red: #ff0000;
    --blue: #0000ff;
    --yelloworange: #FFC943;
    --liteblack: #51555B;
    --gray: #808080;
    --litenavy: #D9D9D9;
    --navy: #00355E;
    --green: #2A9D8F;
    --litegreen: #0CE9CE;
}


