.moon-tab {
    width: 82px;
    height: 82px;
    border-radius: 10px;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:  #6c757d;
    font-weight: normal;
    border: none;
    position: relative;
    padding: 0;
    box-sizing: border-box;
}
